/*********** Aspectos Generales **********/
@import url('https://fonts.cdnfonts.com/css/satoshi');

/*********** Hojas de estilo **********/
@import url('./portadaMobile.css');
@import url('./sobreNosotrosMobile.css');
@import url('./productosMobile.css');
@import url('./contactoMobile.css');
@import url('./footerMobile.css');

:root {
    /*Paleta de colores*/
    --fondo-color: #FFFFFE;
    --fondoSitio-color: #EDF7F9;
    --fondoProducto-color: #D0E9EF;
    --destaque-color: #1A598C;
    --texto-color: #000105;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    /* overflow: hidden; */
}

body {
    font-family: 'Satoshi', sans-serif;
    background-color: var(--fondoSitio-color);
    /* overflow: hidden;  */
}

@media (min-width:320px) {

    /*********** Sección Navbar **********/
    .header__header {
        background-color: var(--fondo-color);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    .header__logo-img {
        width: 120px;
    }

    .header__nav {
        display: none;
    }

    .header__form {
        display: none;
    }

    /*Botón desplegable*/

    .header__button--mobile {
        background-color: var(--fondo-color);
    }

    #btn-menu {
        position: absolute;
        top: 7vh;
        right: 0;
        left: auto;
        width: 45%;
        padding: 1rem;
        background-color: var(--texto-color);
        border-radius: 5px;
    }

    .header__nav-link {
        color: var(--fondo-color);
        font-size: 14px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        margin: 0.5rem;
    }

    .header__nav--register {
        background-color: var(--fondo-color);
        color: var(--texto-color);
        border-radius: 20px;
        padding: 0.5rem 1rem;
    }
}