/*********** Aspectos Generales **********/
@import url('https://fonts.cdnfonts.com/css/satoshi');

:root {
    /*Paleta de colores*/
    --fondo-color: #FFFFFE;
    --texto-color: #000105;
    --destaque-color: #1A598C;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    font-family: 'Satoshi', sans-serif;
}

@media (min-width:320px) {

    /*********** Sección Navbar **********/
    .header__header {
        background-color: var(--fondo-color);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    .header__logo-img {
        width: 120px;
    }

    .header__nav {
        display: none;
    }

    .header__form {
        display: none;
    }

    /*Botón desplegable*/
    .header__button--mobile {
        background-color: var(--fondo-color);
    }

    #btn-menu {
        position: absolute;
        top: 7vh;
        right: 0;
        left: auto;
        width: 45%;
        padding: 1rem;
        background-color: var(--texto-color);
        border-radius: 5px;
    }

    .header__nav-link {
        color: var(--fondo-color);
        font-size: 14px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        margin: 0.5rem;
    }

    .header__nav--register {
        background-color: var(--fondo-color);
        color: var(--texto-color);
        border-radius: 20px;
        padding: 0.5rem 1rem;
    }

    /*********** Sección Hero/Portada **********/
    .hero {
        width: 100%;
    }

    .hero__contenedor {
        width: 60%;
        padding: 1rem;
    }

    .hero__portada-mobile {
        background-image: url("https://abisulkes.alwaysdata.net/imagenPortada.png");
        background-position: cover;
        background-position-x: center;
        background-repeat: no-repeat;
    }

    .hero__producto-item2 {
        display: none;
    }

    /*titulo*/
    .hero__titulo {
        font-size: 28px;
    }

    /*articulo*/
    .hero__articulo {
        background: rgba(255, 255, 255, 0.15);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.6px);
        border: 1px solid rgba(255, 255, 255, 0.29);
        padding: 1rem;
    }

    .hero__subtitulo {
        font-size: 14px;
        display: flex;
    }

    .portada__subtitulo-icono {
        width: 50px;
    }

    .hero__producto-imagen {
        width: 150px;
    }
}