@media (min-width:992px) {

    /*********** Sección Hero/Portada **********/
    /*Imagen de fondo*/
    .hero__portada {
        height: 70vh;
    }

    /*titulo y bajada*/
    .hero__contenedor {
        height: 70vh;
        padding: 1rem;
        justify-content: center;
    }

    .hero__titulo {
        font-size: 59px;
        line-height: 1.2;
        width: 544px;
    }

    .hero__titulo {
        animation: fade-in-left .6s cubic-bezier(.39, .575, .565, 1.000) both;
    }

    @keyframes fade-in-left {
        0% {
            transform: translateX(-50px);
            opacity: 0
        }

        100% {
            transform: translateX(0);
            opacity: 1
        }
    }

    .hero__cta {
        display: flex;
        justify-content: end;
        transform: translateY(-28px);
        gap: 5px;
        font-size: 16px;
        font-weight: 600;
    }


    /*articulo*/
    .hero__articulo {
        max-width: 50%;
        width: 350px;
        height: auto;
        overflow: hidden;
    }

    .hero__lista-productos {
        display: flex;
        flex-direction: row;
    }

    .hero__producto-item:nth-child(1),
    .hero__producto-item:nth-child(2),
    .hero__producto-item:nth-child(3) {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: calc(100% - 1rem);
    }

    .hero__producto-imagen {
        max-width: 100%;
        height: auto;
        padding: 0.5rem;
    }

    .hero__producto-imagen:hover {
        animation: scale-up-bottom .4s cubic-bezier(.39, .575, .565, 1.000) both;
    }

    @keyframes scale-up-bottom {
        0% {
            transform: scale(.5);
            transform-origin: 50% 100%
        }

        100% {
            transform: scale(1);
            transform-origin: 50% 100%
        }
    }

    .hero__subtitulo {
        text-align: center;
        font-size: 14px;
        display: flex;
    }

    .hero__producto-descripcion:hover {
        color: var(--destaque-color);
    }

    .portada__subtitulo-icono {
        width: 2rem;
    }
}