@media (min-width: 992px) {

    /*********** Sección Productos **********/
    .productos__articulo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .productos__contenedor {
        width: calc(30% - 5rem);
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .productos__cabecera {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(80% - 1rem);
        padding: 1rem;
    }

    .productos__titulo {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 0;
        text-align: left;
    }

    .productos__linea-premium {
        font-size: 14px;
        font-weight: 500;
        color: var(--destaque-color);
        text-align: right;
    }

    .productos__contenedor:hover {
        animation: shadow-drop-2-center .4s cubic-bezier(.25, .46, .45, .94) backwards;
    }

    @keyframes shadow-drop-2-center {
        0% {
            transform: translateZ(0);
            box-shadow: 0 0 0 0 transparent
        }

        100% {
            transform: translateZ(50px);
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, .35)
        }
    }

    .productos__boton:hover{
        background-color: var(--texto-color);
    }
}